#Libraries

In [1]:
import pandas as pd      
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split

from scipy.stats import skew
import scipy.stats as stats
from sklearn.model_selection import cross_validate, cross_val_score
import warnings
warnings.filterwarnings('ignore')
plt.rcParams["figure.figsize"] = (10,6)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

#EDA

In [2]:
df = pd.read_csv("final_scout_not_dummy.csv")

In [3]:
df.head()

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,age,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,Audi A1,Sedans,15770,VAT deductible,56013.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",3.0,2.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1220.0,front,3.8
1,Audi A1,Sedans,14500,Price negotiable,80000.0,Used,Benzine,7.0,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",2.0,1.0,141.0,0,Metallic,Cloth,Automatic,1798.0,1255.0,front,5.6
2,Audi A1,Sedans,14640,VAT deductible,83450.0,Used,Diesel,7.0,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...",3.0,1.0,85.0,0,Metallic,Cloth,Automatic,1598.0,1135.0,front,3.8
3,Audi A1,Sedans,14500,VAT deductible,73000.0,Used,Diesel,6.0,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...",3.0,1.0,66.0,0,Metallic,Cloth,Automatic,1422.0,1195.0,front,3.8
4,Audi A1,Sedans,16790,VAT deductible,16200.0,Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...",3.0,1.0,66.0,1,Metallic,Cloth,Automatic,1422.0,1135.0,front,4.1

In [4]:
df_new = df[["make_model", "hp_kW", "km","age", "price", "Gearing_Type", "Fuel",]]

In [5]:
df_new

           make_model  hp_kW            km  age  price Gearing_Type     Fuel
0             Audi A1   66.0  56013.000000  3.0  15770    Automatic   Diesel
1             Audi A1  141.0  80000.000000  2.0  14500    Automatic  Benzine
2             Audi A1   85.0  83450.000000  3.0  14640    Automatic   Diesel
3             Audi A1   66.0  73000.000000  3.0  14500    Automatic   Diesel
4             Audi A1   66.0  16200.000000  3.0  16790    Automatic   Diesel
...               ...    ...           ...  ...    ...          ...      ...
15910  Renault Espace  147.0   1647.362609  0.0  39950    Automatic   Diesel
15911  Renault Espace  165.0   9900.000000  0.0  39885    Automatic  Benzine
15912  Renault Espace  146.0     15.000000  0.0  39875    Automatic   Diesel
15913  Renault Espace  147.0     10.000000  0.0  39700    Automatic   Diesel
15914  Renault Espace  165.0   1647.362609  0.0  40999    Automatic  Benzine

[15915 rows x 7 columns]

In [6]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15915 entries, 0 to 15914
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   make_model    15915 non-null  object
 1   hp_kW         15915 non-null  float64
 2   km            15915 non-null  float64
 3   age           15915 non-null  float64
 4   price         15915 non-null  int64
 5   Gearing_Type  15915 non-null  object
 6   Fuel          15915 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 870.5+ KB

In [7]:
df_new.drop(index=[2614], inplace =True)

In [8]:
df_new = pd.get_dummies(df_new)

In [9]:
df_new

,hp_kW,km,age,price,make_model_Audi A1,make_model_Audi A3,make_model_Opel Astra,make_model_Opel Corsa,make_model_Opel Insignia,make_model_Renault Clio,make_model_Renault Duster,make_model_Renault Espace,Gearing_Type_Automatic,Gearing_Type_Manual,Gearing_Type_Semi-automatic,Fuel_Benzine,Fuel_Diesel,Fuel_Electric,Fuel_LPG/CNG
0,66.0,56013.000000,3.0,15770,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
1,141.0,80000.000000,2.0,14500,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0
2,85.0,83450.000000,3.0,14640,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
3,66.0,73000.000000,3.0,14500,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
4,66.0,16200.000000,3.0,16790,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15910,147.0,1647.362609,0.0,39950,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0
15911,165.0,9900.000000,0.0,39885,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
15912,146.0,15.000000,0.0,39875,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0
15913,147.0,10.000000,0.0,39700,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0
15914,165.0,1647.362609,0.0,40999,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0

#Train | Test Split

In [10]:
X = df_new.drop(columns = ["price"])
y= df_new.price

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#Lasso

In [12]:
from sklearn.linear_model import Lasso, LassoCV

In [13]:
alpha_space = np.linspace(0.01, 100, 100)

In [14]:
lasso_final_model = LassoCV(alphas = alpha_space, max_iter = 100000, cv =10)

In [15]:
lasso_final_model.fit(X_train, y_train)

LassoCV(alphas=array([1.000e-02, 1.020e+00, 2.030e+00, 3.040e+00, 4.050e+00, 5.060e+00,
       6.070e+00, 7.080e+00, 8.090e+00, 9.100e+00, 1.011e+01, 1.112e+01,
       1.213e+01, 1.314e+01, 1.415e+01, 1.516e+01, 1.617e+01, 1.718e+01,
       1.819e+01, 1.920e+01, 2.021e+01, 2.122e+01, 2.223e+01, 2.324e+01,
       2.425e+01, 2.526e+01, 2.627e+01, 2.728e+01, 2.829e+01, 2.930e+01,
       3.031e+01, 3.132e+01, 3.233e+0...
       6.667e+01, 6.768e+01, 6.869e+01, 6.970e+01, 7.071e+01, 7.172e+01,
       7.273e+01, 7.374e+01, 7.475e+01, 7.576e+01, 7.677e+01, 7.778e+01,
       7.879e+01, 7.980e+01, 8.081e+01, 8.182e+01, 8.283e+01, 8.384e+01,
       8.485e+01, 8.586e+01, 8.687e+01, 8.788e+01, 8.889e+01, 8.990e+01,
       9.091e+01, 9.192e+01, 9.293e+01, 9.394e+01, 9.495e+01, 9.596e+01,
       9.697e+01, 9.798e+01, 9.899e+01, 1.000e+02]),
        cv=10, max_iter=100000)

In [16]:
lasso_final_model.alpha_

0.01

In [17]:
y_train_pred = lasso_final_model.predict(X_train)
y_pred = lasso_final_model.predict(X_test)

In [18]:
def train_val(y_train, y_train_pred, y_test, y_pred):
    
    scores = {"train_set": {"R2" : r2_score(y_train, y_train_pred),
    "mae" : mean_absolute_error(y_train, y_train_pred),
    "mse" : mean_squared_error(y_train, y_train_pred),                          
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},
    
    "test_set": {"R2" : r2_score(y_test, y_pred),
    "mae" : mean_absolute_error(y_test, y_pred),
    "mse" : mean_squared_error(y_test, y_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
    
    return pd.DataFrame(scores)

In [19]:
train_val(y_train, y_train_pred, y_test, y_pred)

         train_set      test_set
R2    8.492270e-01  8.484784e-01
mae   1.972315e+03  1.975995e+03
mse   8.143295e+06  8.422254e+06
rmse  2.853646e+03  2.902112e+03

#Model Deployment

In [20]:
import pickle
filename = 'autoscout_model'
pickle.dump(lasso_final_model, open(filename, 'wb'))

In [21]:
akins_model = pickle.load(open('autoscout_model', 'rb'))

In [22]:
my_dict = {
    "hp_kW": 81,
    "age": 1,
    "km": 10000,
    "make_model": 'Audi A3',
    "Gearing_Type": "Automatic",
    "Fuel": "Benzine"
}

In [23]:
my_dict = pd.DataFrame([my_dict])
my_dict

   hp_kW  age     km make_model Gearing_Type     Fuel
0     81    1  10000    Audi A3    Automatic  Benzine

In [24]:
my_dict = pd.get_dummies(my_dict)
my_dict

   hp_kW  age     km  make_model_Audi A3  Gearing_Type_Automatic  Fuel_Benzine
0     81    1  10000                   1                       1             1

In [25]:
columns_name = X.columns
X.columns

Index(['hp_kW', 'km', 'age', 'make_model_Audi A1', 'make_model_Audi A3',
       'make_model_Opel Astra', 'make_model_Opel Corsa',
       'make_model_Opel Insignia', 'make_model_Renault Clio',
       'make_model_Renault Duster', 'make_model_Renault Espace',
       'Gearing_Type_Automatic', 'Gearing_Type_Manual',
       'Gearing_Type_Semi-automatic', 'Fuel_Benzine', 'Fuel_Diesel',
       'Fuel_Electric', 'Fuel_LPG/CNG'],
      dtype='object')

In [26]:
my_dict = my_dict.reindex(columns=columns_name, fill_value=0)
my_dict

,hp_kW,km,age,make_model_Audi A1,make_model_Audi A3,make_model_Opel Astra,make_model_Opel Corsa,make_model_Opel Insignia,make_model_Renault Clio,make_model_Renault Duster,make_model_Renault Espace,Gearing_Type_Automatic,Gearing_Type_Manual,Gearing_Type_Semi-automatic,Fuel_Benzine,Fuel_Diesel,Fuel_Electric,Fuel_LPG/CNG
0,81,10000,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0

In [27]:
lasso_final_model.predict(my_dict)

array([22420.76108])

In [28]:
prediction = akins_model.predict(my_dict)
print(prediction)

[22420.76108]

In [29]:
print("The estimated value of sales is {}. ".format(int(prediction[0])))

The estimated value of sales is 22420.